/* Estilos Gerais */

body {
  /*Caso nao exista o Roboto, ele aplica a fonte: Sans-serif*/
  font-family: "Roboto", sans-serif;
}

.row {
  margin: 0;
}

.contain {
  /*Definindo 70px de superior e inferior, e 0 para as laterais.*/
  padding: 70px 0;
}

p,
li {
  color: #444;
  font-size: 14px;
}

/* Estilos da Barra de navegação */
header,
.navbar {
  background-color: #353d41;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
}

.navbar-brand {
  padding: 0;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

#navbar-links a {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  /* O que esta sendo feito embaixo é: pegando o tamanho ja determinado de padding
    e aplicando uma porcentagem para as laterais com base no que ta definido no root. 
    ex: se no root está definido como: 14px, será 14x1=14 para superior e inferior e 14x0.8
    para laterais. 
  */
  padding: 1rem 0.8rem;
}

/* Estilos para o Slider */

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
  height: 90vh;
}

#mainSlider .carousel-caption {
  top: 30%;
}

#mainSlider .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 100px;
  color: #fff;
}

.main-btn {
  background-color: #65daf9;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}

.main-btn:hover {
  /*text-decoration: none;*/
  color: #fff;
  background-color: transparent;
  border-color: #65daf9;
}

.carousel-indicators .active {
  background-color: #65daf9;
}

/* Sobre a empresa */

#about-area {
  background-color: #f9f9f9;
  padding-top: 65px;
  padding-bottom: 65px;
}

.main-title {
  color: #444;
  margin: 0 0 65px 0; /* shorthand margin */
  font-size: 40px;
  text-align: center;
  position: relative;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.about-title {
  font-size: 17px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
}

#about-list {
  list-style: none;
  padding-left: 0;
}

#about-list li {
  line-height: 30px;
}

#about-list i {
  color: #65daf9;
  margin-right: 15px;
}

/* Serviços */

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i,
.service-box h4 {
  transition: 0.5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #444;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Sempre que alguem passar o mouse em cima da caixinha, queremos estilizar o icone e o paragrafo que está dentro dela
    - O sinal de maior significa que o icone sempre será verificado dentro da classe service/box
*/
.service-box:hover > i,
.service-box:hover > h4 {
  color: #65daf9;
}

#services-area {
  padding: 65px 0;
}

/* Dados da empresa */

.circle-box div {
  padding: 0 40px;
}

.progressbar-text {
  font-weight: bold;
  font-size: 32px;
}

#data-area {
  padding: 65px 0;
}

#data-area p {
  color: #fff;
  text-align: center;
  font-size: 26px;
  margin-top: 20px;
}

/* TIME */

#team-area {
  padding: 65px 0;
}
.card-body {
  text-align: center;
}

/* Trabalhe conosco */

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}